<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/getSongs.css'>
    <title>View All Songs</title>
</head>
<body>
    <table>
        <th>SONG</th>
        <th>ID</th>
        <th>Duration</th>
        <th>Year</th>
        <%data.forEach(element=>{%>
            <tr>
                <td><%=element.name%></td>
                <td><%=element.id%></td>
                <% let length=Math.floor(element.length)||0%>
                <td><%=`${Math.floor(length/60)}:${length%60}`%></td>
                <td><%=element.year%></td>
                <%})%>
        </tr>
    </table>
</body>
</html>